:root {
    --greenish: rgb(70, 182, 83);
    --yellowish: rgb(249, 250, 153);
    --lightBlueish: rgb(225, 249, 239);
    --dark-text: rgb(48, 78, 102);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.slide {
    transform: translate(-300px);
}

body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-size: 22px;

}

body-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* HEADER SECTION */
header {
    margin: 0.5em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-link {}

.logo-img {
    width: 100px;
    padding: 10px 0 5px 5px;
    border-radius: 50%;
    border: 3px double rgb(75, 75, 75);
    box-shadow: 0px 0px 10px rgb(190, 190, 190);
}

nav {}

nav-links {
    display: flex;

}

.nav-link {
    margin: 0px 5px;
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 550;
    color: grey;
    transition: 250ms;
}

.nav-link:hover {
    color: black;
    border-bottom: 2px solid grey;
}

/* MAIN */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-heading {
    margin: 1em 0 0.25em;
    font: 700 2em sans-serif;
}

h1 {
    text-align: center;
}

/* ABOUT SECTION */
.about {
    border: 3px solid silver;
    background: radial-gradient(var(--greenish), var(--yellowish));
    border-radius: 40%;
}

.about-1,
.about-2 {
    width: 80%;
    margin: 10px auto;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    align-items: center;
    background: radial-gradient(ivory, var(--yellowish));
    overflow: hidden;
}

.about-2 {
    flex-direction: row-reverse;
}

.about-img {
    width: 350px;
}

.about-hr {
    min-height: 353px;
}

.about-body {
    margin: auto;
    padding:  5%;
    text-align: center;
}
.about-body h3 {
    width: 80%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.about-body p { 
    color: var(--dark-text);
    font-weight: 650;
}

/* CAKES SECTION */
.cakes {
    width: 90%;
    margin: auto;
    border: 3px solid silver;
    background: radial-gradient(var(--greenish), var(--yellowish));
    border-radius: 45%;
}

.cakes * {
    display: flex;
    align-items: center;
}

.cakes *:nth-child(2n) {
    flex-direction: row-reverse;
}

.cake {
    width: 80%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(ivory, var(--yellowish));
    box-shadow: 0px 0px 2px black;
}

.cake-img {
    width: 350px;
}

.cake-body {
    padding: 0 5% 0;
    gap: 10px;
    flex-direction: column !important;
}

.cake-body h5 {
    width: auto;
    text-align: center;
    font-size: larger;
    border-bottom: 1px solid grey;
}

.cake-body p {
    color: var(--dark-text);
    font-weight: 650;
}

/* CONTACT SECTION */
.contact {
    padding: 1em 2em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
    background: radial-gradient(ivory, var(--yellowish));
    box-shadow: 0px 0px 2px black;
    border-radius: 10px;
}

.contact p {
    color: var(--dark-text);
    font-weight: 650;
}
.contact-methods {
    width: 50%;
    margin: auto;
    margin-top: 5px;
    text-align: left;
}
.contact-method {
    position: relative;
    color: var(--dark-text);
    text-decoration: none;
    text-align: center;
}
.contact-method::before {
    content: "";
    position: absolute;
    top: 8px;
    left: -20px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 50%;
}

/* BLOGS SECTION */
.blogs {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.blog {
    width: 350px;
    min-width: 290px;
    margin: 0 auto 7em;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.blog-img {
    width: 320px;
    border: 2px solid black;
    border-radius: 10px;
}

.blog-body {
    width: 100%;
    margin: auto;
    padding: 10px 5px;
    position: absolute;
    bottom: -40%;
    background: radial-gradient(ivory, var(--yellowish));
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
}
.blog-body h3 {
    width: 80%;
    margin: 0 auto 10px;
    padding: 0 0 5px 0;
    border-bottom: 1px solid grey;
}
.blog-body p {
    padding: 1% 2%;
    color: var(--dark-text);
    font-weight: 650;
}

/* FOOTER */
footer {
    margin-top: 6%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    text-align: center;
    border-top: 2px solid black;
    background-color: rgb(169, 169, 169);
}

.footer-1,
.footer-2,
.footer-3 {
    width: 33%;
}
.footer-1 h3,
.footer-2,
.footer-3 h3 {
    color: rgb(59, 59, 59);
}


/* MEDIA 500 */
@media screen and (max-width: 700px) {

    .about-1,
    .about-2 {
        flex-direction: column;
    }

    .about-img {
        width: 100%;
        border-bottom: 1px solid black;
    }

    .about-hr,
    .about-hr {
        display: none;
    }

    .cake {
        flex-direction: column;
        border-radius: 10px;
        overflow: hidden;
    }

    .cake-img {
        border: 1px solid black;
        border-radius: 10px;
    }
    .cake-body h5 {
        margin-top: 10px;
    }

    .cakes *:nth-child(2n) {
        flex-direction: column;
    }

    .blogs {
        flex-direction: column;
        gap: 1.5em;
    }
    .blog {
        width: auto;
    }
    .blog-img {
        margin-left: 0;
    }
    footer {
        margin-top: 15%;
        flex-direction: column;
        gap: 20px;
    }
    .footer-1,
    .footer-2,
    .footer-3 {
        width: 100%;
    }
}